.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.post-box {
//  border-style: solid;
//  border-width: 1px;
  //border-color: grey;
  background: #f9f9f9;
  width: 100%;
  min-height: 100px;
  margin: 10px;
  box-shadow: 1px 2px #BEBEBE;
  text-align: center;
}

.muted-text{
  color: #BEBEBE;
  font-style: italic;
  margin: 3px;
}

ion-label{
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #BEBEBE;
  margin: 5px;
}

.tiny-photo{
  width: 30px;
  height : 30px;
  max-width: 30px;
  max-height: 30px;
}

ion-title{
     display: flex;
     height: 50%;
     align-content: center;
     align-items: center;
     text-align: right;
}

ion-toolbar{
    --background: #2e8b57;
    --color: white;
}

ion-button{
    --background: #2e8b57;
    --color: white;
}
