<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user; else elseBlock">{{user.displayName}} </ion-title>
    <ng-template #elseBlock>
      <ion-title> Login </ion-title>
    </ng-template>
    <ion-avatar *ngIf="user">
      <img src={{photoURL}} />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid style="height: 100%">
   <ion-row justify-content-center align-items-center style="height: 20%">
     <ion-button class="ion-justify-content-center" (click)="addDataEntry()">Add to Database</ion-button>
   </ion-row>
   <ion-row justify-content-center align-items-center style="height: 20%">
     <ion-button class="ion-justify-content-center" (click)="toRegister()">Register User</ion-button>
   </ion-row>
   <ion-row justify-content-center align-items-center style="height: 20%">
     <ion-button class="ion-justify-content-center" (click)="toLogin()">Login User</ion-button>
   </ion-row>
   <ion-row justify-content-center align-items-center style="height: 20%">
     <ion-button class="ion-justify-content-center" (click)="doLogout()">Logout</ion-button>
   </ion-row>
   <ion-row justify-content-center align-items-center style="height: 20%">
     <ion-button class="ion-justify-content-center" (click)="shakeButton()">Add Shake</ion-button>
   </ion-row>
 </ion-grid>
</ion-content>
